/*
 * Custom Colors
 */

$green: #3EC300;
$red: #E13700;
$white: #FFFFFF;
$black: #000000;

$blue: #43608c;
$dark-blue: darken($blue, 10%);

$grey: #CCCCCC;
$light-grey: lighten($grey, 10%);
$dark-grey: darken($grey, 20%);
