/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

@import './assets/scss/toastr';

.container {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600 !important;
}

.d-block {
  display: inline-block;
}

.w-100 {
  width: 100% !important;
}
